.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
docs
research/step-function-simulations/batch-results
research/step-function-simulations/big-B-results
research/beta-function-simulations/batch-results
research/beta-function-paper/beta-function-selection-models-with-dependent-effects_files
research/beta-function-paper/beta-function-selection-models-with-dependent-effects_cache